<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <h1>hallo vue</h1>

     <!-- sampai menit sembilan video ke 2 -->
    <div id="app">
       <div v-if="showBook">
            <!--call data   -->
            <p> {{title}} - {{author}} - {{age}}</p>
            <!--  function data -->
            <button v-on:click="age++">Increase Age</button>
            <button v-on:click="age--">Decrease Age</button>
            <div @click="changeTitle('OathBringe')"> change book</div>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBook">Hide Book</span>
            <span v-else>Shoow Book</span>
        </button>

        <div v-show="showBook">Currently Showing Book</div>
    </div>
    <script src="app.js"></script>
</body>
</html>