@import "./base.css";

#app {
  margin: 0 auto;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* ini yang membuat satu componet tidak full screen */
/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
